<%= form_for(@silla) do |f| %>
  <% if @silla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@silla.errors.count, "error") %> prohibited this silla from being saved:</h2>

      <ul>
      <% @silla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
